body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.box
{
  text-align: center;
  background-color: #ddd;
  width: 300px;
  border: 5px solid tomato;
  padding: 50px;
  margin: auto;
  box-sizing: content-box;
}
.box label{
  float: left;
}

.box p{
  color: black;
  font-size: 18px; 
}

.box2
{
  text-align: center;
  background-color: #ddd;
  width: 300px;
  border: 5px solid tomato;
  padding: 50px;
  margin: auto;
  box-sizing: content-box;
}

.box2 label{
  float: left;
  font-weight: bold;
}

input[type=text], select {
  
  padding: auto;
  margin: auto;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type=password], select {  

 
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type=submit] {
 
  font-weight: bold;
  cursor: pointer;
  float: center;  
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: auto;
  border-radius: 4px;
}

input[type=submit]:hover {  
  background-color: tomato;
  color: black;
}

.found{
  text-align: center;
  color: green;
  font-weight: bold;
  text-transform: capitalize;
}

.back{

  padding-top: 15px; 
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.back a:hover{
  color: tomato;
}